.container {
  margin: auto 1rem;
  background-color: transparent;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: white;
}

.container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container button{
    width: 200px;
    background-color: transparent;
    border: .5px solid rgba(0, 0, 0, 0.299);
    border-radius: 5px;
    padding: .2rem 0rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.container button:hover{
    background-color: rgba(139, 197, 255, 0.318);
}
