.productheader {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.productheader a{
  color: white;
}

.productheader nav{
  padding: 1rem;
}

.productheader nav ul{
  display: flex;
  gap: 2.6rem;
  justify-content: space-evenly;
}