.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxcontainer {
  width: 100px;
  height: 100px;
  background-color: aqua;
}
